@font-face {
  font-family: source-serif-semibold;
  src: url('../../assets/SourceSerifPro-SemiBold.ttf');
}
footer {
  width: 100%;
  background-color: #18212b;
  font-family: source-serif-semibold;
  position: fixed;
  bottom: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer-links-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: flex-end;
  gap: 7rem;
}

footer a {
  color: rgba(255, 255, 255, 0.719);
  text-decoration: none;
  font-family: source-serif-semibold;
  margin-right: 1.25rem;
}
  
  