@font-face {
  font-family: dancing-script;
  src: url('../../assets/DancingScript-Bold.ttf');
}

@font-face {
  font-family: asap;
  src: url('../../assets/AsapCondensed-Italic.ttf');
}

@font-face {
  font-family: source-serif-pro-semibold;
  src: url('../../assets/SourceSerifPro-SemiBold.ttf');
}

.Navbar {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  width: 100%;
  background-color: #1f2d3a;
}

.navbar-container {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  color: white;
  padding: 0 2rem 0.5rem 2rem;
  border-bottom: 1px solid #9eace2;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.kiwi-image {
  background-image: url('./kiwi-logo.svg');
  background-repeat: no-repeat;
  height: 2.5rem;
  width: 2.8rem;
}

.fly-logo-text {
  font-family: dancing-script;
  font-size: 2.5rem;
  color: #a7bd03;
  text-decoration: none;
}

.kiwi-logo-text {
  font-family: asap;
  margin-left: -0.5rem;
  font-size: 2.2rem;
}